<section class="flex min-h-screen">

  <!-- ──────────  SIDEBAR  ────────── -->
  <aside class="w-60 bg-white border-r border-gray-200 p-4 flex flex-col justify-between">
    <div>
      <h1 class="text-2xl font-bold mb-6">VimaChat</h1>

      <h2 class="uppercase text-gray-500 text-xs mb-4">Menu Admin</h2>

      <!-- PanelMenu -->
      <p-panelMenu
        [model]="items"
        class="border-none"
        [style]="{ width: '100%' }"
        [multiple]="true"
      ></p-panelMenu>
    </div>
  </aside>

  <main class="flex flex-column flex-1 bg-gray-200 p-2 gap-2 min-w-0">

    <!-- Card Superior -->
    <section class="rounded-lg p-1 h-auto w-full ">
      <!-- contenido header/widget -->
      <div class="flex justify-content-start items-center align-items-center w-auto h-full gap-3">
        <div class="relative inline-block">
          <button
            pButton
            type="button"
            class="flex items-center gap-2 px-3 py-2 rounded shadow-3"
            severity="secondary"
            (click)="userMenu.toggle($event)"
          >
            <span class="font-semibold">Laura</span>
            <p-avatar image="https://i.pravatar.cc/100" shape="circle" size="normal"></p-avatar>
          </button>

          <!-- el menú se renderiza dentro del div relative -->
          <p-menu
            #userMenu
            [popup]="true"

            appendTo="body"
            [model]="userItems"
          ></p-menu>
        </div>

        <p-button class="shadow-3 h-full h-max"
          icon="pi pi-bell"
          severity="secondary"

          size="large"></p-button>
      </div>
    </section>

    <!-- Card Inferior -->
    <section class="bg-white border border-gray-300 rounded-lg border-round-2xl p-5 flex-1 w-full overflow-auto shadow-2" >
      <router-outlet></router-outlet>
    </section>

  </main>
</section>
